@media screen and (max-width: 1000px) {
    nav,.socials{
        display: none;
    }
    .menu .open {
        display: block;
    }
    .menu .close {
        color: var(--pink);
    }
    header {
        padding: 0;
        justify-content: center;
        background-color: var(--white);
    }

    header .logo {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    /* LANDING */
    .landing {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin: 0;
    }
    .grid-left {
        grid-row: 2/3;
        align-items: center;
        margin: 0;
    }
    .grid-right {
        grid-row: 1/2;
    }
    .main-title {
        text-align: center;
        max-width: 600px;
    }
    .description {
        text-align: center;
        max-width: 550px;
    }

    /* SERVICES SECTION */

    .services-grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        justify-items: center;
    }



}


