@media screen and (max-width: 850px) {
    nav,.socials{
        display: none;
    }
    .menu .open {
        display: block;
    }
    .menu .close {
        color: var(--pink);
    }
    header {
        padding: 0;
        justify-content: center;
    }

    header .logo {
        flex-grow: 0.8;
        display: flex;
        justify-content: center;
    }

}


